* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', san-serif;
    line-height: 26px;
    color: #7581a1;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -2.5px;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;
    margin-left: 280px;
}


.Limpon {
    font-size: 24px;
    font-family: "Poppins";
    color: rgb(25, 43, 89);
    font-weight: bold;
    text-transform: uppercase;
    /*line-height: 3.75;*/
    text-align: left;
    position: absolute;
    letter-spacing: 6px;
    left: 464px;
    top: 57px;
}

.logo {
    position: absolute;
    text-align: left;
    left: 397px;
    top: 46px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 400px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title-40 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.1px;
}

.title-40 span {
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

.page-stat .title-h2,
.page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}

.page-stat .title-h2 {
    max-width: 500px;
}

.nav {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    left: 720px;
    top: 57px;
}


.nav-item {
    color: #6e7ea9;
}

.nav>li {
    padding: 0 20px;
    letter-spacing: 3.1px;
}

.btn-primary {
    background-color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border: 1px solid #1085e4;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}

.btn-secondary {
    background-color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border: 1px solid #7e8bae;
    color: #cbdbe8;
    text-transform: uppercase;
    border-radius: 30px;
}

.btn-secondary:hover {
    color: #7e8bae;
    background-color: transparent;
}

.btn-free {
    font-weight: 400;
    padding: 20px 40px;
    letter-spacing: 1.7px;
}

.btn-group {
    margin-left: 280px;
}

.btn-group a+a {
    margin-left: 15px;
}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    text-transform: uppercase;
    border-radius: 30px;
}

.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    display: block;
    color: #1085e4;
    text-transform: uppercase;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
}

.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}

.screen {
    margin-top: 36px;
    margin-bottom: -7px;
}

.box-price {
    display: flex;
    justify-content: space-between;
}

.box-price-item h3 {
    font-size: 65px;
    margin: 88px 0 20px;
}

.box-price-item h3 span {
    font-size: 20px;
}

.box-price-item {
    background-color: #f5faff;
    padding: 0px 77px 95px;
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 150px;
}

.box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item ul {
    font-size: 14px;
    font-family: "Open Sans";
    margin: 33px 0 54px 0;
    list-style-type: none;
    line-height: 2.8;
    padding-left: 0;
}

/*page*/
.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 53px 0 330px 0;
}

.page-stat,
.page-screen {
    background-color: #edf6ff;
}

.page-plan,
.page-screen {
    text-align: center;
}

.page-screen {
    padding: 116px 0 0 0;
}